.benu-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .benu-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 767px) {
  .benu-container {
    padding-left: 4px;
    padding-right: 4px;
  }
}

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.main-content-container {
  padding-top: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.primary-color {
  color: #D41C1B;
}

.btn-large {
  text-transform: uppercase;
  width: 333px;
  padding: 10px 25px 10px 25px;
  color: #F9941D;
  text-align: center;
  font: normal normal 500 42px/50px "Barlow Condensed";
  letter-spacing: 0px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.btn-yellow {
  color: var #F9941D;
  border-color: #F9941D;
}
.btn-yellow:hover {
  background: #F9941D;
  color: white;
}

.btn-green {
  color: #27955B;
  border-color: #27955B;
}
.btn-green:hover {
  background: #27955B;
  color: white;
}

.btn-trans {
  color: white;
  background: transparent;
  padding: 10px 20px;
  font-family: "Barlow Condensed";
  font-weight: 500;
}
.btn-trans--b-white {
  border: solid 2px #FFFFFF;
  border-radius: 5px;
  transition: all 0.2s;
}
.btn-trans--b-white:hover {
  background: #FFFFFF;
}

.btn-hover-village:hover {
  color: #27955B;
}

.btn-hover-sis:hover {
  color: #7BAC2A;
}

.btn-hover-sloow:hover {
  color: #793162;
}

.btn-hover-couture:hover {
  color: #D41C1B;
}

.btn-hover-reuse:hover {
  color: #F9941D;
}

.btn-hover-break:hover {
  color: #769DBE;
}

.btn-hover-lasa:hover {
  color: #0079A7;
}

.btn-hover-design:hover {
  color: #6E4522;
}

.creations-navbar {
  display: none;
  z-index: 9;
}
.creations-navbar__container {
  height: 40px;
  width: 100%;
  background-color: #D41C1B;
  color: white;
}
.creations-navbar__menu {
  box-shadow: lightgrey 0 50px 50px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
  background: white;
}
.creations-navbar__menu__list {
  display: none;
}
.creations-navbar__menu__lists {
  padding: 25px 115px 35px 115px;
  height: 100%;
  font-family: "Barlow Condensed";
  font-weight: 500;
}
.creations-navbar__menu__lists h4 {
  color: #D41C1B;
  font-size: 1.1rem;
  padding-bottom: 5px;
  margin-right: 5vw;
}
.creations-navbar__menu__lists ul {
  height: 100%;
  flex-wrap: wrap;
  margin-right: 15px;
}
.creations-navbar__menu__lists ul li {
  width: 12vw;
  min-width: 100px;
}
.creations-navbar__menu__lists ul a {
  color: #2E1414;
  transition: all 0.2s ease-in-out;
}
.creations-navbar__menu__lists ul a:hover {
  color: #D41C1B;
}
.creations-navbar__nav {
  height: 100%;
  padding-left: 100px;
}
.creations-navbar__nav__toggle {
  padding: 7px 20px 7px 20px;
  font-weight: 500;
  font-family: "Barlow Condensed";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.creations-navbar__nav__toggle i {
  padding-left: 8px;
}
.creations-navbar__nav__toggle:hover {
  background-color: #2E1414;
  color: white;
}
.creations-navbar__nav__toggle--active {
  background-color: #2E1414;
  color: white;
}

.header-group {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 10;
}

.header {
  z-index: 10;
  border-bottom: solid 1px #D9D9D9;
  background-color: white;
}
.header__home-title {
  color: #D41C1B;
  font: normal normal 600 24px/29px "Barlow Condensed";
  letter-spacing: 0px;
  padding-right: 0.8rem;
}
.header__logo-container {
  position: relative;
  display: block;
  min-width: 55px;
}
.header__logo {
  position: absolute;
  z-index: 10;
  height: 226px;
  left: 0;
  top: 0;
}
@media (min-width: 1024px) {
  .header__logo--desktop {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__logo--desktop {
    display: block;
  }
}
@media (max-width: 767px) {
  .header__logo--desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header__logo--scroll {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__logo--scroll {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__logo--scroll {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header__logo--mobile {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__logo--mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__logo--mobile {
    display: block;
  }
}
.header__main-menu {
  padding-top: 0px;
}
.header__main-menu__icons button {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.header__main-menu__icons__btn img {
  max-height: 100%;
  max-width: 100%;
}
.header__main-menu__icons__btn:hover {
  fill: #D41C1B;
}
.header__main-menu__icons__lang-btn {
  background-color: #D41C1B1A;
  color: #2E1414;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  font: normal normal 500 20px/24px "Barlow Condensed";
  letter-spacing: 0px;
  transition: all 0.2s ease-in-out;
}
.header__main-menu__icons__lang-btn:hover {
  background-color: #D41C1B;
  color: white;
}
.header__main-menu__icons li {
  padding-left: 1.1rem;
}
.header__main-nav__btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 190px;
  height: 50px;
  color: #2E1414;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #fdf1f1;
  font-family: "Barlow Condensed";
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.header__main-nav__btn--active {
  color: white;
  background-color: #D41C1B;
}
.header__main-nav__btn--active .header__main-nav__btn--logo-1 {
  transform: rotate(90deg);
}
.header__main-nav__btn--logo-1 {
  height: 18px;
  width: 18px;
  margin-right: 1.875rem;
  transform: rotate(0deg);
  transition: transform 0.2s;
}
.header__main-nav__btn--logo-2 {
  height: 15px;
  width: 20px;
  margin-left: 1.875rem;
}
.header__main-nav__btn:hover {
  color: white;
  background-color: #D41C1B;
}
.header__main-nav__btn:hover .header__main-nav__btn--logo-1 {
  transform: rotate(90deg);
}
.header__main-nav__link {
  position: relative;
  display: block;
  padding-top: 12px;
  height: 70px;
  text-transform: uppercase;
  margin-left: 35px;
  text-align: center;
  font: normal normal 600 18px/22px "Barlow Condensed";
  letter-spacing: 0.36px;
  transition: color 0.3s ease-in-out;
}
.header__main-nav__link::before {
  background-color: #D41C1B;
  color: #D41C1B;
  content: "";
  height: 2px;
  left: 50%;
  width: 0;
  position: absolute;
  bottom: -1px;
  transition: all 0.3s ease-in-out;
}
.header__main-nav__link:hover {
  color: #D41C1B;
}
.header__main-nav__link:hover::before {
  left: 0%;
  width: 100%;
}
.header__menus-container {
  padding-left: 4%;
  padding-top: 20px;
  width: 100%;
}
.header__newsletter-btn {
  padding: 0 1.1rem;
  font-family: "Barlow Condensed";
  position: relative;
}
.header__newsletter-btn__link {
  display: inline-block;
  text-decoration: none;
  color: #D41C1B;
  padding: 5px 1rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
.header__newsletter-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 0;
  right: 0;
  min-width: 0.5rem;
  max-height: 1.4375rem;
  background-color: #D41C1B;
  z-index: 0;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.header__newsletter-btn:focus, .header__newsletter-btn:hover {
  cursor: pointer;
}
.header__newsletter-btn:focus .header__newsletter-btn__link, .header__newsletter-btn:hover .header__newsletter-btn__link {
  color: white;
}
.header__newsletter-btn:focus::before, .header__newsletter-btn:hover::before {
  min-width: 100%;
}
.header__top-menu {
  padding-top: 7px;
  padding-bottom: 18px;
  overflow: hidden;
}
.header__top-nav__links {
  color: #CFCFCF;
}
.header__top-nav__links li {
  padding-top: 5px;
}
.header__top-nav__links li a {
  color: #2E1414;
  padding: 0.5rem;
  font: normal normal normal 18px/22px Barlow Condensed;
  letter-spacing: 0.36px;
  transition: color 0.3s ease-in-out;
}
.header__top-nav__links li a:hover {
  color: #D41C1B;
}
.header__top-nav__links li:nth-child(odd) {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.header__top-nav__links li:nth-child(even) {
  padding-left: 0;
  padding-right: 0;
}

.harmonica-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  cursor: pointer;
  color: #2E1414;
  transition: color 0.2s, background 0.3s;
}
.harmonica-bar:hover {
  color: #FFFFFF;
  background: #2E1414 0% 0% no-repeat padding-box;
}
.harmonica-bar--active {
  color: #FFFFFF;
  background: #2E1414 0% 0% no-repeat padding-box;
}
.harmonica-bar__title {
  height: 50px;
  vertical-align: middle;
  padding-top: 15px;
  text-transform: uppercase;
  font: normal normal bold 16px/19px "Barlow Condensed";
  letter-spacing: 0.32px;
}
.harmonica-bar__title--active {
  position: absolute;
  top: -50px;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
}
.harmonica-bar__close {
  position: absolute;
  top: -50px;
  right: -40px;
  color: #FFFFFF;
  width: 40px;
  padding-top: 12px;
  text-transform: uppercase;
  font: normal normal bold 20px/27px "Barlow Condensed";
  letter-spacing: 0.32px;
}
.harmonica-bar__close button {
  cursor: pointer;
}

.harmonica-menu {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: #2E1414 0% 0% no-repeat padding-box;
  padding: 50px;
  display: none;
}
.harmonica-menu__content {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  height: 100%;
  width: 100%;
}
.harmonica-menu__content__col {
  border-right: 1px solid #D9D9D9;
  height: 100%;
  width: 12.5%;
  transition: width 0.5s;
  cursor: pointer;
  position: relative;
}
.harmonica-menu__content__col:hover {
  width: 43%;
}
.harmonica-menu__content__col__banner {
  position: absolute;
  top: 0;
  width: 100%;
}
.harmonica-menu__content__col__banner img {
  height: 21vh;
  width: 3vw;
}
.harmonica-menu__content__col__title {
  position: absolute;
  top: 22vh;
  width: 100%;
  height: calc(100% - 21vh);
}
.harmonica-menu__content__col__title h3 {
  transform: translate3d(-50%, -50%, 0) rotateZ(-90deg);
  transform-origin: center;
  min-width: calc(80vh - 100px);
  text-align: center;
  position: absolute;
  left: 50%;
  font: normal normal bold 52px/62px "Barlow Condensed";
  font-size: 4vh;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}
.harmonica-menu__content__col__title--village {
  color: #27955B;
}
.harmonica-menu__content__col__title--sis {
  color: #7BAC2A;
}
.harmonica-menu__content__col__title--sloow {
  color: #793162;
}
.harmonica-menu__content__col__title--couture {
  color: #D41C1B;
}
.harmonica-menu__content__col__title--reuse {
  color: #F9941D;
}
.harmonica-menu__content__col__title--lasa {
  color: #0079A7;
}
.harmonica-menu__content__col__title--design {
  color: #6E4522;
}
.harmonica-menu__content__col__title--break {
  color: #769DBE;
}
.harmonica-menu__content__col__closed {
  height: 100%;
  position: relative;
}
.harmonica-menu__content__col__open {
  color: #FFFFFF;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: none;
  width: 100%;
}
.harmonica-menu__content__col__open__desc {
  padding: 5% 12%;
  padding-top: 30vh;
  max-height: 100%;
}
.harmonica-menu__content__col__open__desc h4 {
  text-align: center;
  font: normal normal bold 52px/62px "Barlow Condensed";
  font-size: 4vh;
  letter-spacing: 1.04px;
}
.harmonica-menu__content__col__open__desc__text {
  margin-top: 4vh;
  margin-bottom: 8vh;
  text-align: left;
  font: normal normal normal 16px/28px "Barlow Condensed";
  font-size: 2vh;
  letter-spacing: 0px;
  overflow: hidden;
}
.harmonica-menu__content__col__open__desc a {
  font-size: 2vh;
}
.harmonica-menu__content__col__open--village {
  background: #27955B 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--sis {
  background: #7BAC2A 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--sloow {
  background: #793162 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--reuse {
  background: #F9941D 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--couture {
  background: #D41C1B 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--design {
  background: #6E4522 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--lasa {
  background: #0079A7 0% 0% no-repeat padding-box;
}
.harmonica-menu__content__col__open--break {
  background: #769DBE 0% 0% no-repeat padding-box;
}

.modal {
  position: fixed;
  margin: auto;
  background: #FFFFFF;
  opacity: 1;
  z-index: 102;
  border-radius: 20px;
  padding: 30px;
}

.lang-modal {
  width: 370px;
  height: 155px;
  right: 5vw;
  top: 25vh;
  border-radius: 6px;
  padding: 16px 22px;
}
.lang-modal__block {
  width: 79px;
  height: 104px;
  border-radius: 8px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  transition: background-color 0.3s;
}
.lang-modal__block:hover {
  background-color: #D41C1B1A;
}
.lang-modal__block:hover .lang-modal__block__btn {
  background-color: #D41C1B;
  color: #FFFFFF;
}
.lang-modal__block p {
  text-align: center;
  font: normal normal 400 12px/14px "Barlow Condensed";
  letter-spacing: 0px;
  color: #2E1414;
}
.lang-modal__block__btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #D41C1B1A;
  color: #2E1414;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  font: normal normal 500 20px/24px "Barlow Condensed";
  letter-spacing: 0px;
  transition: all 0.2s ease-in-out;
  margin: 15px;
}
.lang-modal__title {
  text-align: left;
  font: normal normal 500 16px/19px "Barlow Condensed";
  letter-spacing: 0px;
  color: #2E1414;
  margin-bottom: 2px;
}

.modal-opacifier {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background: #2E1414;
  opacity: 0.7;
}

.welcome-presentation {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.welcome-presentation__desc {
  padding-top: 139px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.welcome-presentation__desc__bar {
  padding: 10px 5px;
  margin-bottom: 50px;
  background: #F9E2E2 0% 0% no-repeat padding-box;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.welcome-presentation__desc__bar__btn {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  text-align: center;
  padding: 6px 12px;
  font: normal normal 500 18px/22px "Barlow Condensed";
  letter-spacing: 0.36px;
  color: #2E1414;
  border-radius: 8px;
  background: #F9E2E2 0% 0% no-repeat padding-box;
  transition: all 0.2s ease-in-out;
}
.welcome-presentation__desc__bar__btn:hover {
  color: #FFFFFF;
  background: #D41C1B 0% 0% no-repeat padding-box;
}
.welcome-presentation__desc__bar__btn.--active {
  color: #FFFFFF;
  background: #D41C1B 0% 0% no-repeat padding-box;
}
.welcome-presentation__desc__title {
  text-align: left;
  font: normal normal bold 44px/53px "Barlow Condensed";
  letter-spacing: 0px;
  color: #2E1414;
  margin-bottom: 55px;
}
.welcome-presentation__desc__text {
  width: 32vw;
  text-align: left;
  font: normal normal 600 18px/33px "Barlow";
  letter-spacing: 0px;
  color: #2E1739;
  margin-bottom: 30px;
}
.welcome-presentation__desc__link {
  text-align: left;
  font: normal normal 800 22px/33px "Barlow";
  letter-spacing: 0px;
  color: #D41C1B;
}
.welcome-presentation__illustration {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background: lightgrey;
}
.welcome-presentation__illustration img {
  height: 100vh;
  max-width: 80vw;
}

.welcome-illustration-2, .welcome-illustration-3, .welcome-illustration-4, .welcome-illustration-5 {
  display: none;
}
