.benu-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .benu-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 767px) {
  .benu-container {
    padding-left: 4px;
    padding-right: 4px;
  }
}

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.btn-large {
  text-transform: uppercase;
  width: 333px;
  padding: 10px 25px 10px 25px;
  color: #F9941D;
  text-align: center;
  font: normal normal 500 42px/50px "Barlow Condensed";
  letter-spacing: 0px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.btn-yellow {
  color: var #F9941D;
  border-color: #F9941D;
}
.btn-yellow:hover {
  background: #F9941D;
  color: white;
}

.btn-green {
  color: #27955B;
  border-color: #27955B;
}
.btn-green:hover {
  background: #27955B;
  color: white;
}

.creations-navbar {
  display: none;
  position: relative;
  z-index: 9;
}
.creations-navbar__container {
  height: 40px;
  width: 100%;
  background-color: #D41C1B;
  color: white;
}
.creations-navbar__menu {
  box-shadow: lightgrey 0 50px 50px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
}
.creations-navbar__menu__list {
  display: none;
}
.creations-navbar__menu__lists {
  padding: 25px 115px 35px 115px;
  height: 100%;
  font-family: "Barlow Condensed";
  font-weight: 500;
}
.creations-navbar__menu__lists h4 {
  color: #D41C1B;
  font-size: 1.1rem;
  padding-bottom: 5px;
  margin-right: 5vw;
}
.creations-navbar__menu__lists ul {
  height: 100%;
  flex-wrap: wrap;
  margin-right: 15px;
}
.creations-navbar__menu__lists ul li {
  width: 12vw;
  min-width: 100px;
}
.creations-navbar__menu__lists ul a {
  color: #2E1414;
  transition: all 0.2s ease-in-out;
}
.creations-navbar__menu__lists ul a:hover {
  color: #D41C1B;
}
.creations-navbar__nav {
  height: 100%;
  padding-left: 100px;
}
.creations-navbar__nav__toggle {
  padding: 7px 20px 7px 20px;
  font-weight: 500;
  font-family: "Barlow Condensed";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.creations-navbar__nav__toggle i {
  padding-left: 8px;
}
.creations-navbar__nav__toggle:hover {
  background-color: #2E1414;
  color: white;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  border-bottom: solid 1px #D9D9D9;
  background-color: white;
}
.header__home-title {
  color: #D41C1B;
  font-size: 1.4rem;
  font-family: "Barlow Condensed";
  font-weight: 600;
  padding-right: 0.8rem;
}
.header__logo-container {
  position: relative;
  display: block;
  min-width: 55px;
}
.header__logo {
  position: absolute;
  z-index: 10;
  height: 200px;
  left: 0;
  top: 0;
}
@media (min-width: 1024px) {
  .header__logo--desktop {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__logo--desktop {
    display: block;
  }
}
@media (max-width: 767px) {
  .header__logo--desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header__logo--mobile {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__logo--mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__logo--mobile {
    display: block;
  }
}
.header__main-menu {
  padding-top: 10px;
}
.header__main-menu__icons button {
  height: 42px;
  width: 42px;
  cursor: pointer;
}
.header__main-menu__icons__btn img {
  max-height: 100%;
  max-width: 100%;
}
.header__main-menu__icons__btn:hover {
  fill: #D41C1B;
}
.header__main-menu__icons__lang-btn {
  background-color: #fdf1f1;
  color: #2E1414;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.header__main-menu__icons__lang-btn:hover {
  background-color: #D41C1B;
  color: white;
}
.header__main-menu__icons li {
  padding-left: 1.1rem;
}
.header__main-nav__btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #2E1414;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #fdf1f1;
  font-family: "Barlow Condensed";
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.header__main-nav__btn--active {
  color: white;
  background-color: #D41C1B;
}
.header__main-nav__btn--active .header__main-nav__btn--logo-1 {
  transform: rotate(90deg);
}
.header__main-nav__btn--logo-1 {
  height: 18px;
  width: 18px;
  margin-right: 1.875rem;
  transform: rotate(0deg);
  transition: transform 0.2s;
}
.header__main-nav__btn--logo-2 {
  height: 15px;
  width: 20px;
  margin-left: 1.875rem;
}
.header__main-nav__btn:hover {
  color: white;
  background-color: #D41C1B;
}
.header__main-nav__btn:hover .header__main-nav__btn--logo-1 {
  transform: rotate(90deg);
}
.header__main-nav__link {
  position: relative;
  display: block;
  padding-top: 10px;
  height: 70px;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 1.1rem;
  font-family: "Barlow Condensed";
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.header__main-nav__link::before {
  background-color: #D41C1B;
  color: #D41C1B;
  content: "";
  height: 2px;
  left: 50%;
  width: 0;
  position: absolute;
  bottom: -1px;
  transition: all 0.3s ease-in-out;
}
.header__main-nav__link:hover {
  color: #D41C1B;
}
.header__main-nav__link:hover::before {
  left: 0%;
  width: 100%;
}
.header__menus-container {
  padding-left: 4%;
  padding-top: 23px;
  width: 100%;
}
.header__newsletter-btn {
  padding: 0 1.1rem;
  font-family: "Barlow Condensed";
  position: relative;
}
.header__newsletter-btn__link {
  display: inline-block;
  text-decoration: none;
  color: #D41C1B;
  padding: 5px 1rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
.header__newsletter-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 0;
  right: 0;
  min-width: 0.5rem;
  max-height: 1.4375rem;
  background-color: #D41C1B;
  z-index: 0;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.header__newsletter-btn:focus, .header__newsletter-btn:hover {
  cursor: pointer;
}
.header__newsletter-btn:focus .header__newsletter-btn__link, .header__newsletter-btn:hover .header__newsletter-btn__link {
  color: white;
}
.header__newsletter-btn:focus::before, .header__newsletter-btn:hover::before {
  min-width: 100%;
}
.header__top-menu {
  padding-bottom: 5px;
}
.header__top-nav__links {
  color: lightgrey;
}
.header__top-nav__links li {
  padding-top: 5px;
}
.header__top-nav__links li a {
  color: #2E1414;
  padding: 0.5rem;
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}
.header__top-nav__links li a:hover {
  color: #D41C1B;
}
.header__top-nav__links li:nth-child(odd) {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.header__top-nav__links li:nth-child(even) {
  padding-left: 0;
  padding-right: 0;
}
