.all-campaigns {
	padding-top: 60px;
	@include mobile {
		width: 92%;
		margin: auto;
		padding-top: 30px;
		padding-bottom: 40px;
	}
	&__title {
		text-align: center;
		font: normal normal 600 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 15px;
		@include mobile {
			font: normal normal 700 28px/34px 'Barlow Condensed';
			margin-bottom: 20px;
			padding-bottom: 20px;
			padding-top: 10px;
		}
	}
	&__subtitle {
		text-align: center;
		font: normal normal 500 16px/28px 'Barlow Condensed';
		letter-spacing: 0px;
		color: #2E141480;
		margin-bottom: 35px;
		@include mobile {
			margin-bottom: 20px;
		}
	}
}


.single-campaign {
	padding-top: 60px;
	@include mobile {
		width: 92%;
		margin: auto;
		padding-top: 30px;
		padding-bottom: 40px;
	}
	&__title {
		text-align: center;
		font: normal normal 600 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 15px;
		@include mobile {
			font: normal normal 700 28px/34px 'Barlow Condensed';
			margin-bottom: 20px;
			padding-bottom: 20px;
			padding-top: 10px;
		}
	}
	&__subtitle {
		text-align: center;
		font: normal normal 500 16px/28px 'Barlow Condensed';
		letter-spacing: 0px;
		color: #2E141480;
		margin-bottom: 35px;
		@include mobile {
			margin-bottom: 20px;
		}
	}
}