.sell-form {
	&__input-group {
		border-bottom: solid 1px grey;
	}
	&__select {
		background: transparent;
		color: lightgrey;
		min-width: 15vw;
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-right: 15px;
		option {
			background: #111827;
		}
	}
	&__add-btn {
		margin-top: 20px;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: grey;
		}
	}
	&__line-price {
		font-size: 1.2rem;
		padding-bottom: 15px;
		align-self: center;
	}
	&__total-price {
		margin-top: 15px;
		font-size: 1.5rem;
		font-weight: 600;
	}
}


.new-photo-form {
	h3 {
		margin-top: 15px;
		padding-bottom: 7px;
		border-bottom: solid 1px lightgrey;
		margin-bottom: 15px;
		font-weight: 600;
	}
	&__img-gallery {
		height: 30vh;
		min-height: 200px;
		overflow-y: hidden;
		overflow-x: auto;
		margin-top: 10px;
		margin-bottom: 20px;
		&__img-container {
			height: 100%;
			margin: 5px;
			img {
				object-fit: cover;
				height: 100%;
			}
		}
	}
	&__variations-gallery {
		height: 30vh;
		min-height: 200px;
		overflow-y: hidden;
		overflow-x: auto;
		margin-top: 10px;
		margin-bottom: 20px;
		&__img-container {
			height: 100%;
			margin: 5px;
			img {
				object-fit: cover;
				height: 76%;
				border-radius: 5px;
			}
			figcaption {
				height: 24%;
				min-height: 42px;
				text-align: center;
			}
		}
	}
	&__file-input {
		margin-bottom: 20px;
	}
	&__btn-container {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		button {
			background: transparent;
			padding: 5px 15px;
			border: solid 2px rgb(234 179 8/var(--tw-bg-opacity));
			transition: all 0.2s;
			color: lightgrey;
			border-radius: 5px;
			&:hover {
				background: rgb(234 179 8/var(--tw-bg-opacity));
				color: $white;
			}
		}
	}
}