.breadcrumbs {
	margin-top: 111px;
	width: 100%;
	background: lighten($light-grey, 12) url('/images/svg/pattern_solo_benu_couture_OK.svg') 0% 0% repeat padding-box;
	background-size: 12%;
	height: 80px;
	&__content {
		padding-top: 26px;
		a {
			transition: $transition-base;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}