.modal {
	position: fixed;
	margin: auto;
	background: $white;
	opacity: 1;
	z-index: 102;
	border-radius: 20px;
	padding: 30px;
}

.lang-modal {
	width: 370px;
	height: 155px;
	right: 5vw;
	top: 25vh;
	border-radius: 6px;
	padding: 16px 22px;
	&__block {
		width: 79px;
		height: 104px;
		border-radius: 8px;
		background: $white 0% 0% no-repeat padding-box;
		//padding: 15px;
		transition: background-color 0.3s;
		&:hover {
			background-color: $primary-color-light;
			.lang-modal__block__btn {
				background-color: $primary-color;
				color: $white;
			}
		}
		p {
			text-align: center;
			font: normal normal 400 12px/14px 'Barlow Condensed';
			letter-spacing: 0px;
			color: $dark-text;
		}
		&__btn {
			height: 50px;
			width: 50px;
			cursor: pointer;
			background-color: $primary-color-light;
			color: $dark-text;
			text-transform: uppercase;
			border-radius: 5px;
			text-align: center;
			font: normal normal 500 20px/24px "Barlow Condensed";
			letter-spacing: 0px;
			transition: $transition-base;
			margin: 15px;
		}
	}
	&__title {
		text-align: left;
		font: normal normal 500 16px/19px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $dark-text;
		margin-bottom: 2px;
	}
}

.search-modal {
	width: 74vw;
	left: 13vw;
	top: 200px;
	border-radius: 0px;
	padding-bottom: 20px;
	label {
		width: 50%;
		left: 25%;
		text-align: center;
		display: block;
		font-family: 'Barlow Condensed';
		position: absolute;
		top: 60px;
		transform: scale(1);
		transition: $transition-base;
		z-index: -1;
	}
	&__form {
		padding-top: 20px;
	}
	&__icon {
		height: 45px;
		margin-left: 20px;
		margin-right: 20px;
		transition: $transition-base;
		cursor: pointer;
	}
	button {
		&:hover {
			.svg-primary {
				fill: $primary-color;
			}
		}
	}
	input[type=text] {
		width: 50%;
		margin-left: 25%;
		background: transparent;
		text-align: center;
		&:focus, :active {
			border-top: none;
			border-left: none;
			border-right: none;
			outline: none;
			box-shadow: none;
		}
	}
}

.connect-modal {
	width: 45vw;
	right: 0;
	top: 200px;
	border-radius: 0px;
	&__btn {
		margin-left: 0;
	}
	&__register {
		font-family: 'Barlow Condensed';
		font-weight: 600;
		font-size: 1.1rem;
	}
	&__input-group {
		position: relative;
		margin-bottom: 30px;
		margin-right: 20px;
		width: 45%;
		label {
			position: absolute;
			transform: scale(1);
			transition: $transition-base;
			z-index: -1;
			top: 3px;
			left: 10px;
			font-size: 0.9rem;
		}
		input[type=text], input[type=password] {
			width: 100%;
			background: transparent;
		}
	}
	&__title {
		font-family: 'Barlow Condensed';
		font-weight: 600;
		font-size: 1.1rem;
		margin-bottom: 30px;
	}
}

.modal-opacifier {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	background: $dark-bg;
	opacity: 0.7;
}