.benu-container {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	@include tablet {
		padding-left: 2%;
		padding-right: 2%;
	}
	@include mobile {
		padding-left: 4px;
		padding-right: 4px;
	}
}

body {
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
}

.main-content-container {
	padding-top: 200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
}

.primary-color {
	color: $primary-color;
}
