.benu-container {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	margin: auto;
	max-width: $max-display-width;
	@include tablet {
		padding-left: 2%;
		padding-right: 2%;
		//max-width: 720px;
	}
	@include mobile {
		padding-left: 4px;
		padding-right: 4px;
	}
}

body {
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
}

.color-circle {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	margin-right: 5px;
	&--green {
		background: $benu_village;
	}
	&--blue {
		background: $unnamed-color-00c3d5;
	}
	&--yellow {
		background: $benu_reuse;
	}
	&--purple {
		background: $unnamed-color-58566a;
	}
	&--red {
		background: $primary-color;
	}
	&--orange {
		background: orange;
	}
	&--grey {
		background: lightgrey;
	}
	&--beige {
		background: brown;
	}
}

.content-wrapper {
	padding-top: 200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
}

.input-underline {
	border: none;
	border-bottom: solid 1px $light-grey;
	padding-bottom: 0.3rem;
	&:focus, :active {
		border: none;
		border-bottom: solid 1px $light-grey;
		box-shadow: none;
		outline: none;
	}
}

.pattern-bg {
	background: $bg-light-grey;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: transparent url('/images/svg/pattern_solo_benu_couture_OK.svg') 0% 0% repeat padding-box;
		background-size: 12%;
		opacity: 0.5;
		z-index: 0;
	}
	> div {
		position: relative;
		z-index: 1;
	}
}

.primary-color {
	color: $primary-color;
}

.slider-arrow {
	position: absolute;
	top: calc(50% - 28px);
	height: 56px;
	transition: $transition-base;
	width: 28px;
	cursor: pointer;
	&:hover {
		opacity: 0.9;
	}
	&--color-1 {
		background: lighten($dark-bg, 5);
		color: $white;
		opacity: 0.5;
	}
	&--color-2 {
		background: $white;
		color: $primary-color;
		opacity: 0.7;
	}
	&--left {
		left: 0;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		i {
			  font-size: 1.5rem;
			  padding-top: 15px;
			  padding-left: 4px;
		}
	}
	&--right {
		right: 0;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		i {
			  font-size: 1.5rem;
			  padding-top: 15px;
			  padding-left: 8px;
		}
	}
}

.svg-fill-primary-light {
	//opacity: 0.5;
	fill: $primary-color-medium;
}

.svg-primary-white {
	//transition: filter 0.3s;
	// &:hover {
	// 	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(310deg) brightness(104%) contrast(103%);
	// }
	fill: $primary-color;
	transition: fill 0.3s;
	&--active {
		fill: $white;
	}
}

.svg-primary {
	fill: $dark-bg;
	transition: fill 0.3s;
	// &:hover {
	// 	fill: $primary-color;
	// }
	&--active {
		fill: $primary-color;
	}
}

.svg-village {
	fill: $benu_village;
}

.svg-sis {
	fill: $benu_sis;
}

.svg-couture {
	fill: $benu_couture;
}

.svg-sloow {
	fill: $benu_sloow;
}

.svg-reuse {
	fill: $benu_reuse;
}

.svg-lasa {
	fill: $benu_lasa;
}

.svg-design {
	fill: $benu_design;
}

.svg-break {
	fill: $benu_break;
}

.svg-white {
	fill: $white;
}
